.lounge-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .lounge-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .lounge-header h2 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .lounge-info {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .lounge-info-item {
    flex: 1 1 45%;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .lounge-info-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .best-travelers-title {
    font-size: 1.5em;
    text-align: center;
    margin: 30px 0;
  }
  
  .travelers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .traveler-card {
    background-color: #f9f9f9;
    border-radius: 79px;
    overflow: hidden;
    width: 205px;
    height: 286px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .traveler-card:hover {
    transform: scale(1.05);
  }
  
  .traveler-image {
    width: 100%;
    height: 167px;
    border-bottom: 2px solid #ddd;
  }
  
  .traveler-details {
    padding: 10px 0;
  }
  
  .traveler-details h4 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
  }
  
  .traveler-details p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  