.listings-section {
    margin-bottom: 40px; /* Space between different city sections */
}

.listings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.listing-card {
    width: 281px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 348px;
}

.listing-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.listing-info {
    padding: 10px;
}

.listing-info h4 {
    margin: 10px 0;
    font-size: 18px;
}
